@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fontawesome.io/assets/font-awesome/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/*@import url(http://weloveiconfonts.com/api/?family=entypo);*/
* {
  padding: 0;
  margin: 0;
}
body {
/*background-image: url('/img/geometric04.jpg') no-repeat center center fixed;*/
background-image: url(../../img/geometric04.jpg);
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
/*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://lh4.googleusercontent.com/I5fqiqHgL1BT6HC9P4ST1hk-4A2FFoQ7-VNXAgPGcH8=w311-h207-p-no');
-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://lh4.googleusercontent.com/I5fqiqHgL1BT6HC9P4ST1hk-4A2FFoQ7-VNXAgPGcH8=w311-h207-p-no",sizingMethod='scale')";;*/
    
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    font-family: 'Lato', sans-serif;
}
/*.menu{
  margin:100px auto auto 70px;
  background:tranparent;
  width:auto;}
.nav{
  font-family:'Oswald', sans-serif;
  text-transform:uppercase;
  text-decoration:none;
  display:inline;
  height: 120px;width:120px;
  margin: 2px 0px 0px 2px;
  overflow: hidden;
  float:left;
  text-align: center;
  background:#66415C;
  color: #fff;
  transition: all .2s ease, box-shadow .5s ease;
  -webkit-transition: all .2s ease,box-shadow 5.s ease;
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,.5),0px 0px 0px 0px rgba(255,255,255,1);
  cursor: pointer;}
.nav:hover {
    background: rgba(255,255,255,.5);
    color: #66415C;;
    box-shadow: 0px 0px 0px 20px rgba(255,255,255,.5),0px 0px 0px 40px rgba(255,255,255,0);
  transform::scale(1);
-webkit-transform:scale(1);
  }
 .nav:hover .icon:first-child {
    margin-top: -120px;
  }
  .icon {
    height: 120px; width: 120px;;
    line-height: 120px;
    font-size: 25px;
   transition: margin 0.8s;
-webkit-transition: margin 0.8s;
  }
}*/

.cabecera {
    width:100%; 
    height:60px; 
    /*overflow:hidden;*/ 
    margin: 0 auto; 
    background-color:#FFF;
    position: fixed;
    z-index: 100;

    -webkit-box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.75);
}

.cabecera > div{
    /*width:950px;*/ 
    height:80px; 
    margin: 0 auto; 
    overflow:hidden; 
    position:relative;
    /*display: inline-block;*/
}

#caption{
  height:44px; 
  margin-top:20px;
  float:right; 
  margin-left:12px; 
  position:absolute
}

#backbutton{
  /*height:44px; 
  width:44px;*/ 
  margin-top:15px; 
  float:left; 
  position:absolute;
}

#pagecaption{
  height:44px; 
  /*margin-top:20px;*/
  float:left; 
  margin-left: 40%;
  /*position:absolute;
  color: white;*/
}

#current-user{
    height:44px;
    margin-top:15px;
    float:right;
    margin-right: 8%;
}

@media screen and (max-width: 480px) {
    #pagecaption h2 {
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    #current-user {
        visibility: hidden;
    }
}

.pie{
    width:100%; 
    height:70px; 
    overflow:hidden; 
    margin: 0 auto; 
    background-color:#FFF; 
    margin-top:20px;

    -webkit-box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.55);
    box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.55);
}

.pie > div{
  width:auto; 
  height:30px; 
  margin: 0 auto;
}

.pie > div > p{
  text-align:center; 
  color:#000; 
  /*font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;*/ 
  /*font-size:x-small;*/
}

.options{
  width:750px; 
  height:450px; 
  overflow:hidden; 
  margin: 0 auto; 
  position:relative; 
  margin-top:35px;
}

.content {
   float: left;
   margin: 10px;
   padding: 10px;
   max-width: 300px;
   height: 300px;
   border: 1px solid black;
}

.menu{
  margin:50px auto auto 70px;
  background:tranparent;
  /*width:100%*/;
  margin-bottom: -142px; 
}

.menu:after {
  content: "";
  display: block;
}

.nav{
  /*font-family:'Oswald', sans-serif;*/
  text-transform:uppercase;
  text-decoration:none;
  display:inline;
  height: 215px;
  width: 215px;
  margin: 2px 50px 50px 2px;
  overflow: hidden;
  float:left;
  text-align: center;
  font-size: 30px;
  background: #5D91C8;
  color: #fff;
  transition: all .2s ease, box-shadow .5s ease;
  -webkit-transition: all .2s ease,box-shadow 5.s ease;
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,.5),0px 0px 0px 0px rgba(255,255,255,1);
  cursor: pointer;

      -webkit-box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.25);
}
.nav:hover {
    background: rgba(255,255,255,.5);
    color: #5D91C8;
    box-shadow: 0px 0px 0px 20px rgba(255,255,255,.5),0px 0px 0px 40px rgba(255,255,255,0);
    transform::scale(1);
    -webkit-transform:scale(1);
  }
 .nav:hover .icon:first-child {
    /*margin-top: -120px;*/
  }
  .icon {
    height: 60px;
    /*width: 120px;*/
    /*line-height: 120px;*/
    font-size: 24px;
    font-weight: bold;
    transition: margin 0.8s;
    -webkit-transition: margin 0.8s;
  }
}

/* windows */

.box p i {
    font-size: 128px;
    margin:0 0 20px;
    display:block;
}

.box .close {
  display:block;
  cursor:pointer;
  border:3px solid rgba(255, 255, 255, 1);
  border-radius:50%;
  position:absolute;
  top:50px;
  right:50px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(45deg);
  -ms-transform:rotate(45deg)
  transform:rotate(45deg);
  transition: .2s;
  -webkit-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity:0;
}

.box .close:active {
    top:51px;
}

.box .close::before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 80%;
  height: 6%;
  left: 10%;
  top: 47%;
}

.box .close::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 6%;
  height: 80%;
  left: 47%;
  top: 10%;
}

.box.open {
    left: 0;
    top: 0;
    visibility: visible;
    opacity: 1;
    z-index: 999;
    -webkit-transform: perspective(1200px) rotateY(0deg) scale(1);
    -ms-transform: perspective(1200px) rotateY(0deg) scale(1);
    transform: perspective(1200px) rotateY(0deg) scale(1);
    width: 100%;
    height: 100%;
}

.box.open .close, .box.open p {
    opacity: 1;
}

/* Modal Window */

.hide {
  display: none;
  display: block!important;
  position: absolute;
  top: -9999px;
  left: -9999px;

  -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.window {
  /*display: none;
  position: fixed;*/
  z-index: 100;
  top: 40%;
  left: 50%;
  margin-top: 50px;
  margin-left: 0px;
  /*height: 220px;*/
  width: 100%;
  height: 500px;
  background-color: #F3F5F4;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  
  /*-webkit-box-shadow: 0 0 0 999px rgba(30, 65, 71, 0.9);
  -moz-box-shadow: 0 0 0 999px rgba(30, 65, 71, 0.9);
  box-shadow: 0 0 0 999px rgba(30, 65, 71, 0.9);*/

  -webkit-box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 13px -1px rgba(0,0,0,0.25);
}
.window:after {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 65, 71, 0.9);
}

.window #barra{
  padding: 10px 15px;
  font-size: 20px;
  line-height: 30px;
  color: #F3F5F4;
  font-weight: 300;
  width: 100%;
  background-color: #5D91C8;
  text-transform: uppercase;
    -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

/*.window h2 {
  padding: 10px 15px;
  font-size: 20px;
  line-height: 30px;
  color: #F3F5F4;
  font-weight: 300;
  width: 100%;
  background-color: #1E4147;
  text-transform: uppercase;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}*/
.window .entypo-cancel {
  position: absolute;
  /*top: 10px;*/
  /*right: 7px;*/
  left: 8%;
  z-index: 200;
  padding: 5px 10px;
  font-size: 18px;
  color: #FEFEFE;
  background-color: #437356;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
.window p {
  padding: 20px;
  line-height: 20px;
  font-size: 14px;
}
.window #confirm {
  display: block;
  margin: 10px auto;
  width: 200px;
  padding: 10px 5px;
  background-color: #56936e;
  text-align: center;
  text-decoration: none;
  color: #F3F5F4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.window #confirm:hover {
  background-color: #437356;
}
.window #confirm .entypo-thumbs-up {
  color: #F3F5F4;
  padding-right: 5px;
}

/* Dialog*/
.titleMenu{
    margin:0;
    padding:50px 0;
    font-weight:400;
    color: rgba(0, 0, 0, 0.9);
    height:100px;
    box-shadow:0 200px 150px -150px rgba(93, 145, 200, 1.00) inset;
}

@media screen and (max-width: 480px) {
    .titleMenu{
        font-size: 25px;
    }
}

.btn {
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: all 0.2s;
}
.btn:hover {
    background: rgba(5, 120, 201, 0.9);
}
.btn.btn-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}
.btn-close {
    font-size: 20px;
    padding:10px;
    background: rgba(55, 58, 71, 0.5)
}
.btn-close:hover {
    background:rgba(55, 58, 71, 0.9)
}

.dialog,
.dialog-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dialog {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    pointer-events: none;
}

.dialog-overlay {
    position: absolute;
    z-index: 1;
    background: rgba(55, 58, 71, 0.9);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.dialog-open .dialog-overlay {
    opacity: 1;
    pointer-events: auto;
}

.dialog-content {
    width: 50%;
    max-width: 560px;
    min-width: 290px;
    background: #fff;
    padding: 4em;
    text-align: center;
    position: relative;
    z-index: 995;
    opacity: 0;
    box-shadow:0 3px 36px 0 rgba(0, 0, 0, 0.6)
}

.dialog-open .dialog-content {
    pointer-events: auto;
}

/* Content */
.dialog h2 {
    margin: 0;
    font-weight: 400;
    font-size: 2em;
    padding: 0 0 2em;
    margin: 0;
}

.dialog.dialog-open .dialog-content,
.dialog.dialog-close .dialog-content {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dialog.dialog-open .dialog-content {
    -webkit-animation-name: anim-open;
    animation-name: anim-open;
}

.dialog.dialog-close .dialog-content {
    -webkit-animation-name: anim-close;
    animation-name: anim-close;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}


@-webkit-keyframes anim-open {
    0% { opacity: 0; -webkit-transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    2.083333% { -webkit-transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.166667% { -webkit-transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.25% { -webkit-transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.333333% { -webkit-transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.416667% { -webkit-transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.583333% { -webkit-transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    16.666667% { -webkit-transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.75% { -webkit-transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20.833333% { -webkit-transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    22.916667% { -webkit-transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25% { -webkit-transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    27.083333% { -webkit-transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.166667% { -webkit-transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    31.25% { -webkit-transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    33.333333% { -webkit-transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.416667% { -webkit-transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    37.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    39.583333% { -webkit-transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.666667% { -webkit-transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    43.75% { -webkit-transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    45.833333% { -webkit-transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    47.916667% { -webkit-transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    50% { opacity: 1; -webkit-transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.083333% { -webkit-transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    54.166667% { -webkit-transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    56.25% { -webkit-transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    58.333333% { -webkit-transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    60.416667% { -webkit-transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    62.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    64.583333% { -webkit-transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    66.666667% { -webkit-transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    68.75% { -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    70.833333% { -webkit-transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    72.916667% { -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    75% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    77.083333% { -webkit-transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    79.166667% { -webkit-transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    81.25% { -webkit-transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.333333% { -webkit-transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.416667% { -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    87.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    89.583333% { -webkit-transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    91.666667% { -webkit-transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    93.75% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    95.833333% { -webkit-transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    97.916667% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { opacity: 1; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes anim-open {
    0% { opacity: 0; -webkit-transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    2.083333% { -webkit-transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.166667% { -webkit-transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.25% { -webkit-transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.333333% { -webkit-transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.416667% { -webkit-transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.583333% { -webkit-transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    16.666667% { -webkit-transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.75% { -webkit-transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20.833333% { -webkit-transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    22.916667% { -webkit-transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25% { -webkit-transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    27.083333% { -webkit-transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.166667% { -webkit-transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    31.25% { -webkit-transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    33.333333% { -webkit-transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.416667% { -webkit-transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    37.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    39.583333% { -webkit-transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.666667% { -webkit-transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    43.75% { -webkit-transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    45.833333% { -webkit-transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    47.916667% { -webkit-transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    50% { opacity: 1; -webkit-transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.083333% { -webkit-transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    54.166667% { -webkit-transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    56.25% { -webkit-transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    58.333333% { -webkit-transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    60.416667% { -webkit-transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    62.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    64.583333% { -webkit-transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    66.666667% { -webkit-transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    68.75% { -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    70.833333% { -webkit-transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    72.916667% { -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    75% { -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    77.083333% { -webkit-transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    79.166667% { -webkit-transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    81.25% { -webkit-transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.333333% { -webkit-transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.416667% { -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    87.5% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    89.583333% { -webkit-transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    91.666667% { -webkit-transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    93.75% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    95.833333% { -webkit-transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    97.916667% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { opacity: 1; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@-webkit-keyframes anim-close {
    0% { opacity: 1; }
    100% { opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); }
}

@keyframes anim-close {
    0% { opacity: 1; }
    100% { opacity: 0; -webkit-transform: scale3d(0.8, 0.8, 1); transform: scale3d(0.8, 0.8, 1); }
}

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

/* Projects */

/** {
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.004);
    font-size: 100%;
    font-weight: 400;
}*/

.toggler {
    color: #A1A1A4;
    font-size: 1.25em;
    margin-left: 8px;
    text-align: center;
    cursor: pointer;
}
.toggler.active {
    color: #000;
}

.surveys {
    list-style: none;
    margin: 0;
    padding: 0;
}

.survey-item {
    display: block;
    margin-top: 10px;
    padding: 20px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
}

.survey-name {
    font-weight: 400;
}

.list .survey-item {
    position: relative;
    padding: 0;
    font-size: 14px;
    line-height: 40px;
}

@media screen and (max-width: 480px) {
    .list .survey-item {
        height: 80px;
    }
}

.list .survey-item .pull-right {
    position: absolute;
    right: 0;
    top: 0;
}
@media screen and (max-width: 800px) {
    .list .survey-item .stage:not(.active) {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .list .survey-item .survey-progress-bg {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .list .survey-item .pull-right {
        position: static;
        line-height: 20px;
        padding-bottom: 10px;
    }
}
.list .survey-country,
.list .survey-progress,
.list .survey-completes,
.list .survey-end-date {
    color: #A1A1A4;
}
.list .survey-country,
.list .survey-completes,
.list .survey-end-date,
.list .survey-name,
.list .survey-stage {
    margin: 0 10px;
}
.list .survey-country {
    margin-right: 0;
}
.list .survey-end-date,
.list .survey-completes,
.list .survey-country,
.list .survey-name {
    vertical-align: middle;
}
.list .survey-end-date {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
}

.survey-stage .stage {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin: 0 2px;
    background: #f2f2f2;
    text-indent: -9999px;
    color: transparent;
    line-height: 16px;
}
.survey-stage .stage.active {
    background: #A1A1A4;
}

.list .list-only {
    display: auto;
}
.list .grid-only {
    display: none !important;
}

.grid .grid-only {
    display: auto;
}
.grid .list-only {
    display: none !important;
}

.grid .survey-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 250px;
    margin: 10px;
}
@media screen and (max-width: 600px) {
    .grid .survey-item {
        display: block;
        width: auto;
        height: 150px;
        margin: 10px auto;
    }
}
.grid .survey-name {
    display: block;
    max-width: 80%;
    font-size: 16px;
    line-height: 20px;
}
.grid .survey-country {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
}
.grid .survey-country,
.grid .survey-end-date {
    color: #A1A1A4;
}
.grid .survey-end-date:before {
    content: 'Ends\00a0';
}
.grid .survey-end-date.ended:before {
    content: 'Ended\00a0';
}
.grid .survey-progress {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #eee;
    font-size: 13px;
}
.grid .survey-progress-bg {
    width: 40%;
    display: block;
}
@media screen and (max-width: 200px) {
    .grid .survey-progress-bg {
        display: none;
    }
}
.grid .survey-progress-labels {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 40px;
}
@media screen and (max-width: 200px) {
    .grid .survey-progress-labels {
        right: auto;
        left: 10px;
    }
}
.grid .survey-progress-label {
    line-height: 21px;
    font-size: 13px;
    font-weight: 400;
}
.grid .survey-completes {
    line-height: 21px;
    font-size: 13px;
    vertical-align: middle;
}
.grid .survey-stage {
    position: absolute;
    top: 20px;
    right: 20px;
}
.grid .survey-stage .stage {
    display: none;
}
.grid .survey-stage .active {
    display: block;
}
.grid .survey-end-date {
    font-size: 12px;
    line-height: 20px;
}

.survey-progress-label {
    vertical-align: middle;
    margin: 0 10px;
    color: #478FCB;
}

.survey-progress-bg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100px;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    background: #eee;
}

.survey-progress-fg {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    background: #478FCB;
}

/* Admin Settings */

#header{
    width:50px;
    height:50px;
    position:relative;
    z-index: 2;
    top:-75px;
    left:100%;
    transform: translateX(-100%);
    background:#fff;
    /*box-shadow: 0 0 10px #000;*/
    overflow:hidden;
    backface-visibility: hidden;
    transition: all 0.3s cubic-bezier(0.7, 0.01, 0.3, 1);	
    transition-delay: 400ms;
}

#header a{
    color: black;
}

/*let your hair down and show the goods*/
#header.shownav{
    width: 220px;
    height: 250px;
}

.dc-menu{
	width: 50px;
	height: 50px;
	/*background: rgba(0,0,0,0.2);*/
    background-color: #5D91C8;
	
}

.dc-menu-trigger {
	position: absolute;
	top: 0px;
	left: 11px;
	display: block;
	width: 28px;
	height: 50px;
	cursor: pointer;
	z-index: 30;
	transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
    transition-delay: 600ms;
}

.dc-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 3px;
	margin-top: -2px;
	background-color: #fff;
	font-size: 0px;
	user-select: none;
	transition: background-color 0.5s;
}

.dc-menu-open .dc-menu-trigger span {
	/*background-color: transparent;*/
    background-color: #5D91C8;
}

.dc-menu-open .dc-menu-trigger {
	left:88%; 
	transition: all 0.4s cubic-bezier(0.7, 0, 0.36, 0.63);
}

.dc-menu-trigger span:before,
.dc-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
}

.dc-menu-trigger span:before {
	transform: translateY(-250%);
}

.dc-menu-trigger span:after {
	transform: translateY(250%);
}

/*Just bust a move*/
.dc-menu-open .dc-menu-trigger span:before {
	transform: translateY(0) rotate(45deg);
}

.dc-menu-open .dc-menu-trigger span:after {
	transform: translateY(0) rotate(-45deg);
}


.dc-menu-close .dc-menu-trigger:before {
	animation: plusVertical 0.3s ease forwards;
}

.dc-menu-close .dc-menu-trigger:after {
	animation: plusHorizontal 0.3s ease forwards;
}

.menu-overlay {
	z-index: 10;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background: none;
}

.menu-overlay.open {
	background:#fff;
	height: 100%;
}

.menu-overlay ul {
	position: absolute;
	visibility: hidden;
    list-style-type:none;
	top: -40%;
	left: 0;
	width: 100%;
	padding: 0;
	opacity: 0;
	display: table-cell;
	vertical-align: middle;
    transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
	transform: perspective(600px) rotateX(20deg) rotateY(-20deg);
}

.menu-overlay ul li{
  text-align:center;
  font-size:1.5rem;
  font-weight:100;
  margin:18px 0;
  text-transform:uppercase;
  letter-spacing:2px;
}

.menu-overlay ul li:after {
  content:"";
  display:block;
  width:30px;
  height:1px;
  background:#333;
  margin:10px auto 0 auto;
}

.menu-overlay ul li:hover {
    color:#eee;
    cursor:pointer;
    background-color: #5D91C8;
}

.menu-overlay.open ul {
	top: 40px;
	left:0;
	visibility: visible;
	opacity: 1;
	margin-top: 0;
	transform: perspective(600px) rotateX(0deg) rotateY(0deg);
	transition: all 0.6s cubic-bezier(0.7, 0, 0.36, 0.63);
	transition-delay: 400ms;
}

/* Global Button Styles */
a.animated-button{
    background: #5D91C8;
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #000;
	text-shadow: none;
    background: transparent;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

/* Victoria Buttons */

a.animated-button.victoria-one {
	border: 2px solid #5D91C8;
}
a.animated-button.victoria-one:after {
	background: RGB(240, 240, 240);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button.victoria-two {
	border: 2px solid #5D91C8;
}
a.animated-button.victoria-two:after {
	background: #5D91C8;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
a.animated-button.victoria-three {
	border: 2px solid #5D91C8;
}
a.animated-button.victoria-three:after {
	background: #5D91C8;
	opacity: .5;
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
a.animated-button.victoria-three:hover:after {
	height: 140%;
	opacity: 1;
}
a.animated-button.victoria-four {
	border: 2px solid #5D91C8;
}
a.animated-button.victoria-four:after {
	background: #5D91C8;
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
	opacity: 1;
	height: 600% !important;
}

/* Files and folders */
.window {
    height: auto;
}
.window .icon {
  /*float:left;*/
  clear: right;
  display: inline-block;
  margin:40px 95px 30px 40px;
  width:85px;
  height:105px;
  /*background:#000;*/
  border-radius:6px;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  line-height:21px;
  font-size:20px;
  padding-left:20px;
  /*text-shadow: 3px 1px 1px rgba(0,0,0,0.4);*/
  -webkit-transition:all 300ms ease-in-out;
  -moz-transition:all 300ms ease-in-out;
  -ms-transition:all 300ms ease-in-out;
  -o-transition:all 300ms ease-in-out;
  transition:all 300ms ease-in-out;
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d; 
  -webkit-perspective:600;
  perspective:600;
    -webkit-transform: perspective(600);
  -moz-transform: perspective(600);
  -ms-transform: perspective(600);
  -o-transform: perspective(600);
  transform: perspective(600);
}
.window .icon:before {
  content:'';
  float:right;
  width:31px;
  height:31px;
  background-image:-webkit-linear-gradient(top right, rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 50%);
  background-image:linear-gradient(to bottom left, rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 50%);
  border-radius:0 0 0 6px;
}
/*.icon:after {
  content:'';
  float:right;
  width:31px;
  height:31px;
  background-image:-webkit-linear-gradient(top right, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 50%);
  background-image:linear-gradient(to bottom left, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 50%);
  position:relative;
  top:-130px;
  left:0px;
}*/
.window .icon:hover {
  -webkit-transform:translateZ(200px);
  -moz-transform:scale(1.1);
  transform:scale(1.1);
}

.window .icon > a{
  /*margin: -88px 0 12px;*/
  color: black;
  font-size: 14px;
}

/* just need to change the backgrounds */
.pdf {
  background:#c7211d;
}
.doc {
  background:#24589B;
}
.xls {
  background:#1C7346;
}
.ppt{
  background:#D34828; 
}
.mpp{
  background:#2E7237; 
}

/* Icon Format */

.window .ico {
  margin: 40px;
  background-color: #fed;
  border: 2px solid #fc6;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
.window .ico:after,
.window .ico:before {
    background: #fed;
    border: 2px solid #fc6;
    content: '';
    position: absolute;
}
.window .ico:hover,
.window .ico:hover:after,
.window .ico:hover:before {
    background-color: #ffe;
}

.ico>a{
  color: black;
}

/* Folder Icon */

.folder {
    height: 88px;
    top: 6px;
    width: 134px;
}
.folder:after {
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    height: 4px;
    left: 1px;
    top: -6px;
    width: 30px;
}
.folder:before {
    border: none;
}